<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEi9Gz4yF_U2tp-XjEDUUtlv_eMOffdTM</string>
	<key>GCM_SENDER_ID</key>
	<string>175574695515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.henrique.h</string>
	<key>PROJECT_ID</key>
	<string>h-mobile-29d9b</string>
	<key>STORAGE_BUCKET</key>
	<string>h-mobile-29d9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175574695515:ios:86a0811a4ff04eafd6497e</string>
</dict>
</plist>